body
{
    background-color: burlywood;
    text-align: center;
}


img {
border-style : solid;
border-color : #689F38
border : ipx
border-radius : 5px;
padding : 5px;
width : 450px;
height : 750px;
}